
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');


html,body{
    color:black;
    font-family:poppins;
    background-repeat: no-repeat;
    background-image: url("berry_college.jpg");
    background-size:cover;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.1)), 
    url("berry_college.jpg");
    background-position: center;
    height: 100%;
    width:100%;
}

.nav{
   height:4vw;
   width:100%;
   color:white;
   display:flex;
   align-items:center;
   justify-content:space-evenly;
   font-size :20px;
   background-color: rgba(0, 0, 0, 0.5); 
   
}
.ri-menu-line{
    display:none;
    
}

h1{
    margin-left:4px;
}
.links{
    display:flex;
    float: right;
    margin-top: 4px;
    align-items:center;
    justify-content:end;
   
}

.links a{
    text-decoration: none;
   padding-top:3px;
   padding-inline:20px;
    font-weight: 600;
    color:lightgrey;
    position: relative; /* To position the underline */
  transition: border-top 0.3s ease, padding-top 0.3s ease; /* Transition effect */
}
.links a:hover{
    /* text-decoration: overline; */
    border-top: 3px solid white;
    padding-top:0px;
}
button{
    border-color:none;
    background-color: transparent;
    border:none;
    color:white;
    margin-right:2%;
    padding: 10px;
    
}
button:hover{
    background-color: rgba(201, 26, 3, 0.527);
    color: white;

}
.nav2{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); 
    display:flex;
    justify-content:center;
    font-size:20px;
}

.links2 {
    font-weight:bold;
    font-size:20px;
    display:flex;
    gap: 3vw;
    margin-top: 4px;
}
.links2 a{
    color:white;
    text-decoration:none;
    position: relative; /* To position the underline */
    padding-inline:20px;
   padding-bottom:  3px; 
   transition: border-top 0.3s ease, padding-botom 0.3s ease; /* Transition effect */
}
   

.links2 a:hover{
    text-decoration:none;
    border-bottom: 3px solid white;
    padding-bottom:0px;
   
}

.content{
    font-size: 20vh;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left:35%;
    margin-top:10%;
    color: white;
    position:absolute;
}
.explore{
    margin-top: 45%;
    width: 100%;
    height: 3.5vw;
    
    margin-bottom:0%;
    background-color: rgb(177, 20, 20);
}
.explore button{
    margin-left:45%;
    position:absolute;
    justify-content: center;
    font-size:2vw;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 1028px) {
    .body {

        background-position: center;
        background-size: cover;  /* Small screens ke liye image ko resize karta hai */;
    }
    .links{
        display: flex;
        flex-direction: row; /* Ek line mein rakhne ke liye */
        align-items: center; /* Vertically align kare */
        gap: 1rem; /* Gap thoda maintain kare */
        padding-top:3px;
        /* flex-direction:column;
        gap:4vw;
    */}
    .nav {  
         display:flex;
         flex-direction: row; 
        align-items: center; 
        justify-content:space-between;
         background-color: rgb(161, 24, 24);
        height: 10vh;
        
       
    }
    
    .links a{
        display:none;
    }
   
    
    .ri-menu-line{
        display:block;
        justify-content: center;
    }
    .menu{
        display:block;
    }
    .button{
        justify-content: center;
        display:none;
    }

    .nav2 {
        display:none;
    }

    .content{
       position:fixed;
       font-size: 6vw;
       margin-left:35%;
       margin-top:10%;
    }

    .koko{
        display: none;
    }
}